/* header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(to right, #57647c, #2a5298); 
  color: white;
  align-items: center;
  max-width: 100%; 
  width: 100%;     
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navlist {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navlist li {
  margin-right: 20px;
}

.navlist a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navlist a:hover {
  color: #ddd;
}

/* For mobile view when menu is open */
.navlist.open {
  display: block;
}

/* Mobile view styles */
#menu-icon {
  display: none;
  cursor: pointer;
}

/* Show menu icon on mobile */
@media (max-width: 768px) {
  .navlist {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px; 
      right: 0;
      background-color: #333;
      width: 100%;  
      padding: 1rem 0; 
  }

  .navlist.open {
      display: block;
  }

  /* Styling for mobile links */
  .navlist li {
      text-align: center; 
      margin-bottom: 15px;  
  }

  #menu-icon {
      display: block;
  }
}
